<div class="container">
    <div class="row"> 
        <div class="col-md-6 offset-md-3">
            <h3>Boletas Entel</h3>
            <p>Formulario que consulta en Servipag las boletas impagas que aparecen para el servicio TV Satelital y la empresa Entel Hogar.</p> 
            <form action="/boletas" method="POST" id="form_ruts">
                <div class="form-group">
                    
                    <label for="ruts">Escribir ruts, sin puntos ni guión, separados por coma. Ejemplo: 51093674,79795054.</label>
                    <textarea class="form-control" name="ruts"></textarea>
                    <br />
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>    
</div>

